.container{
   text-align: center;
   height: 90vh;
}
.edit{
    padding: 3px;
    font-size: 14px;
   margin-top: 9%;
}
.userdetails{
    display: flex;
    padding: 10vh;
    width: 80%;
    flex-direction: column;
    margin-left: 10%;
    border: 3px dashed black;
    border-radius: 15px;
    margin-top: 2%;
}
.item
{
    display: flex;
}
@media  screen and (max-width:600px) and (min-width:400px) {
    .userdetails{
        padding: 1%;
        width: 90%;
        margin-left: 5%;
    }
}