.container{
   
}
.edit{
    padding: 3px;
    font-size: 14px;
   margin-top: 9%;
}
.userdetails{
    display: flex;
    padding: 10vh;
    flex-direction: column;
    border: 3px dashed black;
    border-radius: 15px;
    margin-top: 2%;
}
.item
{
    display: flex;
}